window {
    margin: 0px;
    border: 1px solid @base0C;
    background-color: @base00;
}

#input {
    margin: 5px;
    border: none;
    color: @base04;
    background-color: @base01;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: @base00;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: @base00;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: @base04;
}

#entry:selected {
    background-color: @base01;
}

#text:selected {
    background: none;
}
