@define-color base00 #2E3440;
@define-color base01 #3B4252;
@define-color base02 #434C5E;
@define-color base03 #4C566A;
@define-color base04 #D8DEE9;
@define-color base05 #E5E9F0;
@define-color base06 #ECEFF4;
@define-color base07 #8FBCBB;
@define-color base08 #BF616A;
@define-color base09 #D08770;
@define-color base0A #EBCB8B;
@define-color base0B #A3BE8C;
@define-color base0C #88C0D0;
@define-color base0D #81A1C1;
@define-color base0E #B48EAD;
@define-color base0F #5E81AC;

* {
    border: none;
    min-height: 0;
    font-family: "JetBrains Mono";
    font-weight: 500;
    font-size: 14px; 
    border-radius: 5px; 
}

window#waybar {
    background: @base00; 
    border: 2px solid @base03; 
}

tooltip {
    background-color: @base01;
    border: 2px solid @base03;
}

#tray,
#clock,
#cpu,
#memory,
#battery,
#custom-notification,
#language,
#pulseaudio {
    color: @base06;
    background-color: @base02;
    border: 2px solid @base03;
    margin: 10px 4.5px 10px 2px;
    padding: 0px 10px;
}

#custom-notification {
    margin-right: 10px;
    padding: 8px 10px;
}

#workspaces {
    background-color: @base02;
    margin: 10px 4.5px 10px 7px;
    padding: 0px 0px;
    background-color: @base00;
}

.modules-left #workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent; 
    padding: 0px 13px; 
    color: @base06;
    /* margin-left: 3px; */
    /* margin-right: 2px; */
    /* margin-top: 4px; */
    /* margin-bottom: 4px; */
    margin: 0px 2px 0px 4px;
    background-color: @base02;
    border-radius: 5px;
    border: 1px solid @base03;
}

.modules-left #workspaces button.active {
    background-color: @base0D;
    color: @base00;
    padding: 0px 13px;
    /* margin-left: 3px; */
    /* margin-right: 2px; */
    margin: 0px 2px 0px 4px;
}

#workspaces button.focused {
    color: @base0A;
}

#workspaces button.urgent {
    background-color: @base09;
}

/*
#clock {
    background-color: @base02;
    border: 2px solid @base03;
    color: @base06;
}

#tray {
    background-color: @base02;
    border: 2px solid @base03;
    color: @base06;
}

#battery {
    background-color: @base02;
    border: 2px solid @base03;
    color: @base06;
}

#cpu,
#memory,
#network,
#pulseaudio {
    background-color: @base02;
    border: 2px solid @base03;
    color: @base06;
}

*/

#cpu.critical,
#memory.critical {
    background-color: @base02;
    border: 2px solid @base03;
    color: @base08;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: @base02;
    border: 2px solid @base03;
    color: @base08;
}
